<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="keywords" content="主题餐厅">
	<meta name="description" content="做餐饮服务的">
	<title>首页</title>
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link href="./bootstrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/base.css">
	<link rel="stylesheet" href="./css/shouye.css">
	<link rel="icon" href="./images/1.png"> -->
	<!--[if lt IE 9]>
      <script src="./js/html5shiv.min.js"></script>
      <script src="./js/respond.js"></script>
    <![endif]-->
</head>
<body>
	<h3>hello static-page</h3>
</body>
</html>